<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\todo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Document</title>
</head>
<body>  
    <div class="container">
        <div class="box">
            <form action="/todo?id=<%= todoByUserId.userId %>" method="post">
            <div class="addtodo">
                <span class="icon">
                    <i class="fa-solid fa-calendar"></i>
                </span>
                <input class="input" name ="todo" type="text" placeholder="Add task to complete">
            </div>
            </form> 
            <div class="line"></div>
            <div class="todolist" id="todo-box">
                <div class="todolist-items">
                    <% todoByUserId.todos.forEach(function(todo) { %>
                        <div class="todolist-inner-items">
                                <span data-completed-target="#completed-list" id="user-data"
                                       data-user-id="<%= todoByUserId.userId %>" class="icon-complete">
                                    <i class="fa-regular fa-circle"></i>
                                </span>
                                <textarea class="todo-placeholder"><%= todo.todoItem %></textarea>
                                <span data-modal-target="#modal" class="icon-edit">
                                    <i class="fa-solid fa-pen"></i>
                                </span>
                        </div>
                    <% }); %>               
                </div>
            </div>
        </div>
    </div>
    

    <div>
        <input type="hidden" name="id" value="<%= todoByUserId.userId %>">
        <button data-completed-list-modal-target="#completed-list-modal" class="completed-list-bt">Completed List</button>
    </div>

    <div class="modal" id="modal">
        <div class="modal-title"> 
            <h1 contenteditable="true"></h1>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-item">
            <p class="Note-Heading">Note</p>
            <form action="todo/saveNotes?id=<%= todoByUserId.userId %>" method="post">
                <div class="notes-section">
                    <textarea class="modal-textarea" name="noteTextarea"><%= todoByUserId.todos.todoNotes %></textarea>
                    <button class="notes-button">Save</button> 
                </div>
            </form>
        </div>
    </div>

    <div class="completed-list-modal" id="completed-list-modal">
        <div class="completed-list-header">
            <div class="completed-list-heading">Completed List</div>
            <button data-completed-list-close-button class="close-button">&times;</button>
        </div>
        <div class="completed-list-container">
            <% todoByUserId.completedTodoList.forEach(function(completedtodo) { %>
                <div class="completed-list-inner">
                        <div class="completed-list-placeholder"><%= completedtodo %></div>
                </div>
            <% }); %>  
        </div>
    </div>

    <div id="overlay"></div>

    <script>

        const textarea = document.querySelector('.input');
        textarea.focus();

        const openModalButtons = document.querySelectorAll('[data-modal-target]')
        const closeModalButtons = document.querySelectorAll('[data-close-button]')
        const overlay = document.getElementById('overlay')
        const modalTitle = document.querySelector('.modal-title h1');

        const openCompletedListModalButtons = document.querySelectorAll('[data-completed-list-modal-target]')
        const closeCompletedListModalButtons = document.querySelectorAll('[data-completed-list-close-button]')

        openCompletedListModalButtons.forEach((button) => {
            button.addEventListener('click', async () => {
                const modal = document.getElementById("completed-list-modal");
                modal.classList.add('active');
            })
        })

        
        overlay.addEventListener('click', () => {
            const modals = document.querySelectorAll('.completed-list-modal.active')
            modals.forEach(modal => {
                modal.classList.remove('active');
            })
        })

        closeCompletedListModalButtons.forEach((button) => {
            button.addEventListener('click', async () => {
                const modal = document.getElementById("completed-list-modal");
                modal.classList.remove('active');
            })
        })

        const completedBtIcon = document.querySelectorAll('[data-completed-target]')
        const userDataElement = document.getElementById('user-data');
        const userId = userDataElement.dataset.userId;

        completedBtIcon.forEach((button, index) => {
            button.addEventListener('click', async(event) => {
                const todoName = button.nextElementSibling;
                const todoValue = todoName.value;

                const response = await fetch(`/todo/complete/${userId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ todo: todoValue }),
                });

                if (response.ok) {
                const data = await response.json();
                console.log('Completed Todos:', data.completedTodos);
                } else {
                console.error('Failed to complete todo.');
                }
                location.reload();
            })
        })

        openModalButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
                const todoName = button.parentElement.querySelector('textarea').value;
                openModal(todoName, index);
            })
        })
        
        overlay.addEventListener('click', () => {
            const modals = document.querySelectorAll('.modal.active')
            modals.forEach(modal => {
                closeModal(modal)
            })
        })

        closeModalButtons.forEach(button => {
            button.addEventListener('click', () => {
                const modal = button.closest('.modal')
                closeModal(modal);
            })
        })
        
        function openModal(todoName, index) {
            const modal = document.getElementById('modal');
            modalTitle.textContent = todoName;
            modal.classList.add('active')
            overlay.classList.add('active')
        }

        function closeModal(modal) {
            if (modal == null) return
            modal.classList.remove('active')
            overlay.classList.remove('active')
        }

    </script>
</body>
</html>